#cabecalho{
    font-size: 15px; 
    text-align: center;
    background: white; 
    max-width: 400px;
    margin-left: 550px;
    padding: 1px;
    font-family:serif;
    
    

    
}
#loc{
    text-align: center;
}

#func{
    text-align: left;
    font-size: 18px;
}
#login{
    text-align: right;
     font-size:18px;
}
body{
    background-color: rgb(204, 204, 204);
}
h1{
    color:#757575
}
a{
    text-decoration: none;
}