#cabecalho{
    text-align: center;
    #foto{
        max-width: 250px;
        max-height: 250px;
        border-radius: 50%;
    }
}
.qnt {
    width: 42px;
}

#tabela {
     margin-left: 550px; 
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(112, 236, 184) 0%, rgb(48, 175, 143) 35%, rgb(13, 202, 193) 100%);
}

button{
    background: #39f;
    padding: 0.3em 1.2em;
    color: #fff;
    font-size: 16px;
    border: none;

}
form{
    color: #757575;
    font-size: 1.3em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    max-width: 500px;
  background: white;
  overflow: hidden;
  padding: 20px;
}
a{
    font-size: 35px;
    text-decoration: none;
    
}
#tb{
    margin-left:1px;
   background: #fff;
}
#tb2{
    margin-left:2px;
    background-color: #fff;
}
